:root {
  --main-title-color: #ffffff;
  --main-btn-color: #ffffff;
  --secondary-title-color: #ffffff;
  --secondary-btn-color: #212121;
  --secondary-btn-back-color: #f5f4fa;
  --link-decoration-color: #2196f3;
  --web-logo-color: #2196f3;
  --description-text: #757575;
  --link-active: #2196f3;
}

ul {
  list-style: none;
}
body {
  font-style: normal;
  font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
  color: #212121;
}

/*----------------------HEADER-----------------*/

.header-logo {
  color: #000000;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  text-shadow: 0px 4px 4px;
}
.header-logo:hover,
.header.logo:focus {
  text-decoration: underline var(--link-decoration-color);
}
.web-logo {
  color: var(--web-logo-color);
}

.site-nav a {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}
.site-nav [href] {
  color: #212121;
}

.site-nav a:hover,
a:focus,
a:active {
  color: var(--link-active);
  text-decoration: underline var(--link-decoration-color);
}

.header-contacts a {
  color: var(--description-text);
  text-decoration: none;
}
.header-contacts a:hover,
a:focus,
a:active {
  color: var(--link-active);
  text-decoration: underline var(--link-decoration-color);
}
.email {
  color: #2196f3;
}
.tel-number {
  color: var(--description-text);
}

/*----------------------Main-----------------*/
.hero {
  background-color: #2f303a;
}
.hero-title {
  color: var(--main-btn-color);
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.title-text {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--description-text);
}

.cases,
.team {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
}
.team {
  background-color: #f5f4fa;
}

.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
}

.profession {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--description-text);
}
.main-button {
  cursor: pointer;
}
.button {
  cursor: pointer;
  background-color: #f5f4fa;
}
.button:hover,
.button:focus {
  text-decoration: underline var(--link-active);
}
.main-button:hover,
.main-button:focus,
.main-button:active {
  color: #ffffff;
  background-color: var(--link-active);
}
.buttons {
  color: var(--secondary-btn-color);
  background-color: var(--secondary-btn-back-color);
}
/*----------------------Footer-----------------*/
footer {
  background-color: #2f303a;
}
footer a {
  text-decoration: none;
}
footer a:hover,
a:focus {
  text-decoration: underline var(--link-decoration-color);
}
.footer-logo {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-adress {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-mail,
.footer-tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
